<%- include('includes/header',{title:'post page ' + email}) %>
<h3>
  <b>Email :</b> <%= email %>
</h3>
<h4>
  <b>Name :</b> <%= name %>
</h4>
<% if (work){%>
<h4>
  <b>Work :</b> <%= work %>
</h4>
<% }%>
<%- include('includes/footer') %>